@mixin warning {
    background-color: orange;
    color: white;
  }
  
  @mixin large-text {
    font: {
      size: 22px;
      weight: bold; 
    }
  }
  
  @mixin rounded {
      border-radius: 6px;
  }
  
  @mixin box {
    @include rounded;
    border: 2px solid greenyellow;
  }
  
  @mixin fancy-links {
    a {
      font-style: italic;
      text-decoration: none;
    }
  }